@import "../../styles/variables";
.Nav {
  max-height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;

  img {
    max-height: 50px;
    &:hover {
      cursor: pointer;
    }
  }
  .nav__links {
    display: flex;
    align-items: center;
    a {
      height: 40px;
      margin-left: 10px;
    }
    .btn {
      background-color: transparent;
      color: $color-4-blue;
      font-size: 1.1rem;
      font-weight: bold;
      border-left: 1px solid $color-4-blue;
      border-radius: 0;
      transition: all 0.1s ease-in-out;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

@media (max-width: 768px) {
  .Nav {
    justify-content: space-around;
    img {
      display: none;
    }
    .nav__links {
      width: 100%;
      justify-content: space-evenly;
      .btn {
        border-left: 0;
      }
    }
    .btn {
      padding: 7px 10px;
    }
    .btn:last-child {
      padding: 7px 10px 14px 10px;
    }
  }
}
