@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
.CreateCollection {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(98, 109, 113, 0.4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-animation: overlay 0.2s ease-in-out forwards alternate;
          animation: overlay 0.2s ease-in-out forwards alternate;
}

@-webkit-keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes overlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.CreateCollection .window {
  font-family: "Mulish", sans-serif;
  width: 40%;
  height: 80%;
  background-color: #f1f1f2;
  border-radius: 10px;
  padding: 20px;
  font-size: 1rem;
  color: #1995ad;
  font-weight: bold;
  overflow-y: scroll;
  position: relative;
  opacity: 0;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  -webkit-animation: create-window 0.2s ease-in-out forwards alternate;
          animation: create-window 0.2s ease-in-out forwards alternate;
}

@-webkit-keyframes create-window {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes create-window {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.CreateCollection .window h1 {
  margin-bottom: 15px;
}

.CreateCollection .window input {
  margin-bottom: 20px;
}

.CreateCollection .window ul {
  list-style: none;
}

.CreateCollection .window ul li {
  border-bottom: 1px solid rgba(25, 149, 173, 0.2);
  padding: 10px 0;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.CreateCollection .window ul li h3 {
  margin-right: 5px;
  min-width: 20%;
}

.CreateCollection .window ul li:first-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.CreateCollection .window ul li:last-child {
  margin-bottom: 20px;
}

.CreateCollection .window .auth-note a {
  color: #626d71;
  text-decoration: underline;
  margin-bottom: 10px;
  display: inline-block;
  font-size: 1rem;
}

.CreateCollection .window .btn-save {
  margin: 0px 5px;
}

.CreateCollection .window .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.CreateCollection .window .fields input {
  width: 40%;
  height: 50px;
  margin: 0;
}

.CreateCollection .window .fields select {
  width: 40%;
  height: 50px;
  border: none;
  border-bottom: 1px solid #1995ad;
  padding: 10px 20px;
  font-size: 1.2rem;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.CreateCollection .window .fields select option {
  background-color: #f1f1f2;
  color: #1995ad;
}

.CreateCollection .window .fields select:focus {
  outline: none;
  border-bottom: 1px solid #1995ad;
}

.CreateCollection .window .fields select:active {
  border-bottom: 1px solid #1995ad;
}

.CreateCollection .window .fields .btn-remove-field {
  border-radius: 50%;
  padding: 3px 8px 4px 8px;
  font-weight: bold;
  margin-right: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.CreateCollection .window .btn-exit {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  padding: 3px 8px 4px 8px;
  font-weight: bold;
}

.CreateCollection .window::-webkit-scrollbar {
  width: 8px;
}

.CreateCollection .window::-webkit-scrollbar-track {
  background-color: rgba(98, 109, 113, 0.4);
}

.CreateCollection .window::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #1995ad;
  border-radius: 3px;
}

.CreateCollection .window .schema .btn-plus {
  border-radius: 50%;
  padding: 5px 10px 6px 10px;
  font-weight: bold;
  margin-right: 5px;
}
/*# sourceMappingURL=CreateCollection.css.map */