@import "../../../styles/variables";
.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding-top: 9vh;
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  .dashboard-content {
    height: 80vh;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    &__cards {
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
    &__controllers {
      height: fit-content;
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 15px;
      //   background-color: rgba($color: $color-11-slate, $alpha: 0.3);
      border-radius: 10px;
      .btn {
        font-size: 1rem;
        margin-bottom: 15px;
        height: fit-content;
        width: 100%;
        padding: 12px 15px;
      }
    }
  }
}
