@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");
.Dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 90%;
  padding-top: 9vh;
  position: relative;
}

.Dashboard .dashboard-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.Dashboard .dashboard-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.Dashboard .dashboard-wrapper .dashboard-content {
  min-height: 80vh;
  width: 100%;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Dashboard .dashboard-wrapper .dashboard-content__cards {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.Dashboard .dashboard-wrapper .dashboard-content__controllers {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  border-radius: 10px;
}

.Dashboard .dashboard-wrapper .dashboard-content__controllers .btn {
  font-size: 1rem;
  margin-bottom: 15px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  padding: 12px 15px;
}

.Dashboard .ViewCollectionData .token {
  width: 45vw;
  height: 35vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.Dashboard .ViewCollectionData .token textarea {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 80%;
  height: 150px;
  resize: none;
  font-size: 1rem;
  font-family: "Mulish", sans-serif;
  background-color: rgba(98, 109, 113, 0.2);
}

.Dashboard .ViewCollectionData .token .btn-copy {
  position: relative;
  padding: 7px 20px;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .Dashboard .dashboard-wrapper .dashboard-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Dashboard .dashboard-wrapper .dashboard-content__cards {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .Dashboard .dashboard-wrapper .dashboard-content__controllers {
    width: 280px;
  }
}
/*# sourceMappingURL=Dashboard.css.map */