@import "../../styles/variables";
.Home {
  height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/home_background2.jpg) no-repeat top center/cover;
  .logo-container {
    width: 45%;
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba($color: white, $alpha: 0.6);
    img {
      width: 60%;
      height: auto;
      margin-bottom: 80px;
    }
  }
  .right-side {
    width: 55%;
    background-color: rgba($color: rgb(0, 0, 0), $alpha: 0.3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .Nav {
      background-color: rgba($color: #000000, $alpha: 0.3);
      height: 7vh;
      .nav__links {
        width: 100%;
        justify-content: space-evenly;
        .btn {
          color: $color-1-white;
          border: 0;
        }
      }
      img {
        display: none;
      }
    }

    .text-container {
      color: #fff;
      height: 30vh;
      font-size: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media (max-width: 768px) {
  .Home {
    .logo-container {
      display: none;
    }
    .right-side {
      width: 100%;
      .text-container {
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 85vh;
        img {
          width: 80%;
          background-color: rgba($color: white, $alpha: 0.3);
          padding: 15px;
          margin-bottom: 30px;
          border-radius: 10px;
        }
      }
      .nav__links .btn {
        padding: 7px 10px;
      }
      .nav__links .btn:last-child {
        padding: 7px 10px 14px 10px;
      }
    }
  }
}
