@import "../../styles/variables";
.Header {
  width: 100%;
  position: fixed;
  height: 8vh;
  background-color: rgba($color: $color-11-slate, $alpha: 0.4);
  z-index: 10;
  display: flex;
  align-items: center;
}
