.Login {
  height: 100vh;
  position: relative;
  .login__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;
    h1 {
      margin-bottom: 15px;
    }
    input {
      margin-bottom: 20px;
    }
    .btn {
      margin-bottom: 20px;
    }
  }
  .register {
    text-decoration: underline;
  }
  .login__error {
    color: red;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}
