.Register {
  height: 100vh;
  .register__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
    h1 {
      margin-bottom: 15px;
    }
    input {
      margin-bottom: 20px;
    }
    .btn {
      margin-bottom: 20px;
    }
  }
  .login {
    text-decoration: underline;
  }
  .register__error {
    color: red;
    margin-bottom: 10px;
  }
}
