@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap");

$font-Montserrat: "Montserrat", "sans-serif";
$font-Roboto: "Roboto Mono", monospace;
$font-Inconsolata: "Inconsolata", monospace;
$font-Source-Code: "Source Code Pro", monospace;
$font-Mulish: "Mulish", sans-serif;

$color-1-white: #f1f1f2;
$color-2-gray: #bcbabe;
$color-3-ice: #a1d6e2;
$color-4-blue: #1995ad;

$color-logo: #4f7cc8;

$color-11-slate: #626d71;
$color-12-ceramic: #cdcdc0;
$color-13-latte: #ddbc95;
$color-14-coffee: #b38867;
